<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <title>{% block title %}To Do List app{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('vendor/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('vendor/css/bootstrap-icons.css') }}" rel="stylesheet">
            <link href="{{ asset('vendor/css/shop-homepage.css') }}" rel="stylesheet">
            <link href="{{ asset('vendor/css/custom.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        {% include "shared/_navbar.html.twig"  %}

        <div class="container">
            <div class="d-grid gap-2 mx-auto d-md-flex justify-content-md-between mb-2">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('user_create') }}" class="btn btn-primary">Créer un utilisateur</a>
                        <a href="{{ path('user_list') }}" class="btn btn-dark">Liste des utilisateurs</a>
                    {% endif %}
                    {% if app.user %}
                        <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="btn btn-secondary">Profile</a>
                        <a href="{{ path('security_logout') }}" class="btn btn-danger">Se déconnecter</a>
                    {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    {% block header_img %}<img class="w-100 h-auto" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% include "shared/_footer.html.twig"  %}

        {% block javascripts %}
            <script src="{{ asset('vendor/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
